antiword
cairo
fontconfig
freetype
gdbm
gettext
giflib
git
glib
jpeg
leptonica
libffi
libpng
libpthread-stubs
libtiff
libx11
libxau
libxcb
libxdmcp
libxext
libxrender
little-cms2
lzo
mpdecimal
nspr
nss
openjpeg
openssl@1.1
pcre
pcre2
pixman
pkg-config
poppler
python@3.9
qt@5
readline
sqlite
swig
tcl-tk
tesseract
unrtf
webp
xorgproto
xz
xquartz
